
.middle.top_padding.main-page
  .internal_content
    %h1 Listing videos

    - @videos.each do |video|
      .panel
        .row
          .three.columns
            .title
              %h2=link_to video.title, video
            .image
              =link_to image_tag("http://img.youtube.com/vi/#{video.youtube}/default.jpg"), video
          .three.columns
            .action.top_padding
              =link_to 'Show', video, :class => 'long_button'
            .info.top_padding
              Info:
              = video.youtube
            = link_to 'Edit', edit_video_path(video)
            = link_to 'Destroy', video, :confirm => 'Are you sure?', :method => :delete
          .six.columns
            .image
              =image_tag video.img_url(:small) if video.img?
        .description
          %h4=video.description
        .categories
          =render :partial => "categories/choose", :locals => {:object => video}


    = link_to 'Add New Video', new_video_path, :class => 'long_button'
